.background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}

.loader {
  animation: is-rotating 1s linear infinite;
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  border-top-color: var(--green); 
  border-right-color: var(--green); 
  border-radius: 50%;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}