.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container h1 {
  color: var(--title);
}

.columns {
  display: flex;
  margin-top: 1.9rem;
  margin-bottom: 0.9rem;
  padding-right: 20px;
}

.columns span {
  flex: 1;
}

.columns span:nth-child(2) {
  flex: 6;
}

.columns span:nth-child(n+3) {
  flex: 2;
}

.wrapperClassificationCard {
  height: 75vh;
  padding: 0px 20px 10px 0px;
  overflow: overlay;
}
